<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../styles/bibliotecario.css" rel="stylesheet" type="text/css">
    <title>WebSite</title>
</head>
<body>

<header>
    <nav class="navigation">
        <ul class="nav-menu">
            <img src="/assets/search.png" class="search-icon">
            <input class="search-book">
            <li class="menu-item"><a href="#">Historico de emprestimos</a></li>
            <li class="menu-item"><a href="#">Configurações</a></li>
            <i class='bx bx-search'></i>
        </ul>
    </nav>
</header>
<main>
    <div class="menuemprestimo">
        <button type="submit" class="addbook-button">Adicionar novo emprestimo</button>
    </div>

</main>
<script src="../scripts/loginRegistro.js"></script>
</body>
</html>